<p id="notice"><%= notice %></p>

<h1>スレッド一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>作成者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.title %></td>
        <td><%= board.creator_name %></td>
        <td><%= link_to 'スレッド詳細', board %></td>
        <td><%= link_to 'コメント一覧', board_messages_path(board) %></td>
        <td><%= link_to '編集', edit_board_path(board) %></td>
        <td><%= link_to '削除', board, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規スレッド作成', new_board_path %>
